/* ---------------- CHI SIAMO ---------------- */
.who-intro{
    border-bottom:1px solid #000;
    margin-top:-40px;
}
.who-intro-left{
    background:url(../images/who-intro-left.jpg) no-repeat;
    background-size:cover;
    height:100vh;
}
.who-intro-right{
    padding:20% 100px 0;
    background:url(../images/home-tech.png) right no-repeat;
}
.who-intro-right h2{
    font-size:30px;
    margin:0 0 30px 0;
}
.who-intro-right h3{
    font-size:20px;
    margin:0 0 30px 0;
}
.who-intro-right h4{
    font-size:18px;
}
.who-who{
    background:url(../images/logo-bg.svg) no-repeat;
    height:65vh;
    padding:100px;
    background-position:80px;
}
.who-quote{
    background:url(../images/who-dini-bg.jpg) no-repeat;
    border-top:1px solid #000;
}
.who-quote-img{
    margin:0;
    padding:0;
}
.quote-text h4{
    width:60%;
    margin-top:35%;
    margin-left:35%;
    font-size:20px;
    line-height:36px;
}
.nine-steps{
    margin-bottom:0;
    padding-right:0;
    margin-right:-10px;
}
.nine-steps li{
    display:inline;
    float:left;
    list-style:none;
    width:32%;
    margin:2px;
    padding-left:0;
    opacity:0.5;
    transition:all 0.3s ease;
}
.nine-steps li:hover{
    opacity:1;
}
.who-people{
    padding:70px;
}
.who-content{
    max-width:1199px;
    margin:0 auto;
}
.who-all{
    height:860px;
    background:url(../images/UbiMaiorItalia-team.jpg) no-repeat;
    background-size:contain;
}
.people-text{
    opacity:0.8;
    transition:all 0.3s ease;
    padding:10px 20px;
    background:#fff;
    color:#626262;
}
.people-text p{
    font-size:14px;
    line-height:1.7em;
}
.people:hover > .people-text{
    opacity:1;
}
.people-email{
    font-size:11px;
    color:#D71F1B;
}
.people{
    margin-bottom:20px;}

@media (min-width: 992px) and (max-width: 1199px) {
  .who-intro-right{
      padding-top:16%;
  }
  .who-who{
      padding:50px;
  }
  .who-intro-right{
      padding:10% 100px 60px;
  }
  .people{
      padding:30px;
  }
}