.main-box{
    height:90vh !important;
}
.category-intro-expl{
    height:96vh;
    width:100%;
}
.category-intro-text{
    float:left;
    padding:8% 3%;
    background:rgba(32,32,39,0.95);
    height:100%;
    text-align:center;
    position:relative;
}
.category-intro-text p{
    color:#fff;
    font-size:16px;
    line-height:22px;
    text-align:left;
    font-family:'Av-med', sans-serif;
}
.cat-open-close{
    position: absolute;
    color: #fff;
    top: 30px;
    font-size: 32px;
    font-weight: bold;
    right: -48px;
    width: 50px;
    height: 50px;
    background: rgba(32,32,39,0.85);
    border-left:none;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}
.cat-open-close{
    display:none;
}
.cat-open-close:hover{
    cursor:pointer;
}
.cat-open-open{
    display:none;
}

.lines-tags{
    min-height:80px;
}
.product-drawings-box{
    background:#202126;
    padding:0;
}
.cat-tech-cont{
    /*width:50vw;*/
    padding:0;
    margin:0;
    background:url(../images/tech-paper-bg.png) repeat;
}
.cat-tech-bg{
    background:#222328;
}
.table-tech{
    margin:0 auto;
}

/* ------------------------ JIBER ------------------------ */

.expl-jiber{
    background:url(../images/cat-jiber/jib-intro-photo.jpg) no-repeat;
    background-size:cover;
}
.expl-jiber .category-intro-text{
    width:46%;
}
.img-tech2{width:73%;}

/* ------------------------ RT REGATA ------------------------ */

.expl-regata{
    background:url(../images/cat-regata/regata-intro-photo.jpg) center no-repeat;
    background-size:cover;
}
.expl-regata .category-intro-text{
    width:34%;
}
.rt-esploso{
    height:100vh;
    width:97vw;
    background:url(../images/cat-regata/rt-esploso.jpg) center no-repeat;
    background-size:cover;
}

/* ------------------------ FR AVVOLGITORI ------------------------ */

.expl-fr{
    background:url(../images/cat-fr/fr-intro-photo.jpg) center no-repeat;
    background-size:cover;
}
.expl-fr .category-intro-text{
    width:42%;
}

/* ------------------------ X3M ------------------------ */

.expl-x3m{
    background:url(../images/cat-x3m/x3m-intro-photo.jpg) center no-repeat;
    background-size:cover;
}
.expl-x3m .category-intro-text{
    width:42%;
}
.extreme-esploso{
    height:100vh;
    width:97vw;
    background:url(../images/cat-x3m/x3m-esploso.jpg) center no-repeat;
    background-size:cover;
}

/* ------------------------ ACCESSORIES ------------------------ */

.lighter-bg{
    background-color:#222227;
    }
.darker-divider{
    height:2px;background-color:#191919;width:100%;
    }
.expl-acc{
    background:url(../images/cat-accessories/accessories-intro-photo.jpg) center no-repeat;
    background-size:cover;
}
.expl-acc .category-intro-text{
    width:25%;
}
.anchor-list li{
    list-style:none;
    text-align:left;
    margin-bottom:5px;
    font-size:15px;
    text-transform:uppercase;
}
.anchor-list li img{
    width:60px;
    margin-right:10px;
}
/* ------------------------ YC CLUB ------------------------ */
.expl-yc{
    background:url(../images/cat-yc/yc-intro-photo.jpg) center no-repeat;
    background-size:cover;
}
.expl-yc .category-intro-text{
    width:33%;
}

.yc-esploso{
    height:90vh;
    width:98vw;
    background:url(../images/cat-yc/yc-esploso.jpg) center no-repeat;
    background-size:cover;
}

/* ------------------------ SAILMAKERS ------------------------ */
.expl-sailmakers{
    background:url(../images/cat-sailmakers/sailmakers-intro-photo.jpg) center no-repeat;
    background-size:cover;
}
.expl-sailmakers .category-intro-text{
    width:35%;
}
.sailmakers-full{
    height:90vh;
    width:98vw;
    background:url(../images/cat-sailmakers/sailmakers-full.jpg) center no-repeat;
    background-size:cover;
}

/* ------------------------ LCK ALPHALOCK ------------------------ */

.expl-alphalock{
    background:url(../images/cat-alphalock/alphalock-intro-photo.jpg) center no-repeat;
    background-size:cover;
}
.expl-alphalock .category-intro-text{
    width:42%;
}
.gaff-lock-txt{
    background:#252530;
    display:inline-flex;
    justify-content:space-evenly;
    align-items:center;
    width: 100vw;
    margin:0;
}
.gaff-lock-txt p{
    color:#eee;
    padding:60px;
    width:54%;
    max-width:660px;
}
.gaff-lock-txt img{
    width:100%;
}
.alphalock-esploso{
    height:100vh;
    width:97vw;
    background:url(../images/cat-alphalock/alphalock-esploso.jpg) center no-repeat;
    background-size:cover;
}

@media only screen and (max-width: 480px){
    .gaff-lock-txt{
        display: inline-block;
        width: 100%;
        margin: 0;
    }
    .gaff-lock-txt p{
        width: 90vw;
        clear: both;
        padding:25px 0 25px 25px;;
    }
    .gaff-lock-txt img{
        margin:0 auto 50px;
    }
    .alphalock-esploso{
        height:50vh;
        width:92vw;
        margin:10px 0;
    }
    .custom-two-images img{
        width:80% !important;
        text-align:center;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
    .category-intro-expl {
        height: 56vh;
        width: 100%;
    }
    .expl-alphalock .category-intro-text{
        width:58%;
    }
    .alphalock-esploso{
        height:70vh;
    }
    .gaff-lock-txt p{
        width:inherit; 
    }
}

/* ------------------------ FR AVVOLGITORI ------------------------ */

/* ------------------------ CUSTOM ------------------------ */
.expl-custom{
    background:url(../images/cat-custom/custom-intro-photo.jpg) center no-repeat;
    background-size:cover;
}
.expl-custom .category-intro-text{
    width:46%;
    padding-top:5%;
}
.custom-two-images-r img{
    float:left;
}
.custom-two-images-l img{
    float:right;
}

@media only screen and (max-width:480px){  
    .category-intro-expl{
        height:31vh;
    }
    .category-intro-text{
        height:auto;
    }
    .category-intro-text p{
        line-height:2rem;
        text-align:center;
    }
    .extreme-esploso, .yc-esploso, .rt-esploso {
        height: 250px;
        width:92vw;
    }
    .custom-two-images-r img,
    .custom-two-images-l img{
        width:80% !important;
        float:none;
    }
}

@media only screen and (min-width: 1199px){
    .category-intro-text p{
        line-height:26px;
    }
    .expl-fr .category-intro-text {
        width:40%;
    }
    .expl-x3m .category-intro-text {
        width:35%;
    }
}

/* ------------------------ OTHER BRANDS ------------------------ */
.expl-brands{
    background:url(../images/cat-brands/img-intro-otherbrands.jpg) center no-repeat;
    background-size:cover;
    height:50vh !important;
}
.anchor-brands{
    padding:0;
}
.anchor-brands li{
    display:inline;
    float:left;
    margin:30px 20px 0 0;
    width:160px;
}
.anchor-brands li img{
    border:1px solid rgba(255,255,255,0.5);
    transition: all 0.4s
}
.anchor-brands li img:hover{
    border:1px solid rgba(255,255,255,1);
}
.brands-txt h4, .brands-txt{
    color:#fff !important;
    opacity:0.8;
}
.brands-txt{
    margin-bottom:20px;
}
.brands-imgs img{
    margin:20px 0;
}

.carbonautica-container h1{
    line-height:1.3em;
}

@media only screen and (min-width:1025px){
    .brands-imgs img{
        opacity:0.8;
        transition: all 0.4s
    }
    .brands-imgs img:hover{
        opacity:1;
    }
    .expl-brands{
        height:65vh !important;
    }
}

/* ------------------------ APPAREL ------------------------ */

.apparel-secondary-img{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border:1px solid #ddd;
}