.who-contact-left{
    height:100vh;
    padding:17% 100px 60px;
} 
.who-contact-right{
    padding:23% 100px 60px;
}
.who-contact-right a:hover{
    color:#D71F1B;
}
.where{font-size:14px;}


@media (min-width: 768px) and (max-width: 992px){
    .who-intro-right{
      padding-top:15%;
    }
    .who-intro-right h2{
        font-size:20px;
        margin:0 0 15px 0;
    }
    .who-intro-right h3{
        font-size:15px;
        margin:0 0 15px 0;
    }
    .who-intro-right h4{
        font-size:15px;
    }
    .quote-text h4{
    width: 70%;
    margin-top: 30%;
    margin-left: 25%;
    font-size: 20px;
    line-height: 33px;
    }
    .people{
      padding:15px;
    }
    .who-who{
      padding:60px;
    }
    .who-who h3{
      font-size:20px;
    }
    .who-people{
    padding:50px 25px;
    }
}