/*intro*/

.slide-intro {
    background-image: url('../images/bg_home.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.cat-image-size{
  width:300px;
}

.img-home {
    margin-top: 30vh;
    max-width: 400px !important;
}

.second-image {
    padding-top: 10px;
}
.second-claim{
  font-size:15px;
  color:#fff;
  margin-left:10px;
}


/*.trigger-position {
    position: absolute;
    top: 20px;
    right: 70px;
}*/

.subtitle h2 {
    margin-top: 50px;
    padding: 10px;
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-style: italic;
    opacity: 0;
    /*visibility: hidden;*/
}

.subtitle h2:before, .subtitle h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #fff;
}

.subtitle h2:before {
    margin-left: -55%;
    text-align: right;
}

.subtitle h2:after {
    margin-left: 5%;
    /*text-align: right;*/
}

.logo_fiera {
    position: absolute;
    top: 100px;
    right: 20px;
    z-index:999;
}
.wrapper-img-home div{
  overflow: hidden;
}

.first-image{
  margin-right: -100%;
  opacity: 0;
}

.second-image{
  margin-left: -100%;
  opacity: 0;
}

.wrapper-img-home div:first-child{
  text-align: right;
}




@media (max-width: 448px) {
  .second-claim{margin:20px 0 0 0;}
  .wrapper-img-home .subtitle h2{
    margin-top:10px;
  }
}

@media (max-width: 768px) {
    h1{
      line-height: 20px;
    }
    .logo_fiera img{
      width:100px;
    }
    .wrapper-img-home {
        text-align: center !important;
    }
    .wrapper-img-home div:first-child{
      text-align: center;
    }
    .subtitle h2{
      font-size:18px;
    }
    .img-home {
        text-align: center;
        margin-top:0;
    }
    .first-image {
       margin-top: 25vh;
    }
    .second-image {
        margin-top: 0px;
    }
    .mouse-wrapper{display:none !important;}
    #who-we-are-section h2{
      font-size:24px;
    }
    #who-we-are-section .feature-list{
      font-size:16px;
    }
    #nz-section{
      background-position: 30% bottom;
    }
}

.mouse-wrapper{
    margin: 0 auto;
    display: none;
    width: 28px;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 37px;
}

.mouse{
    width: 30px;
    height: 47px;
    border: 2px solid #fff;
    border-radius: 14px;
    -webkit-border-radius: 14px;
}

.mouse .mouse-scroll{
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    position: relative;
    top: 10px;
    left: 11px;
    -webkit-animation: scrolls 1.3s ease-out infinite forwards;
}
@-webkit-keyframes scrolls {
  0% {
    top: 10px;
    opacity: 1;
    height: 4px;
  }
  95% {
    top: 18px;
    opacity: 0;
    height: 10px;
  }
  100% {
    top: 8px;
    opacity: 1;
    height: 4px;
  }
}
/*fine intro*/
/*Second section*/
#hugo-section{
  background-image: url('../images/hugoboss-bg-m.jpg');
  padding-top: 50px;
  padding-bottom: 50px;
  height:100vh;
  font-weight:bold;
  color:#fff;
}
#hugo-section h2{
  font-size:24px;
  color:#fff;
}
#hugo-section p{
  font-weight:bold;
}
#hugo-section img{
  margin-top:-10px;
  width:120px;
}
#who-we-are-section{
  background-image: url('../images/home-tech.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center left;
  padding:150px 0;
}

@media (min-width: 480px) {
  #hugo-section{
    background-image: url('../images/hugoboss-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 200px;
    padding-bottom: 200px;
    font-weight:normal;
    color:#333;
  }
  #hugo-section h2{
    color:#333;
  }
}

.feature-list{
  font-size: 1.7em ;
  font-style: italic;
  color:#afafb1;
  font-family:'Av-light', Sans-serif;
}

.feature-list li{
  line-height: 1.8em;
}

.featured-product{
  border:1px solid rgba(255,255,255,0.2);
  height:620px;
  margin-bottom:30px;
}

.featured-product:hover{
  border:1px solid rgba(255,255,255,0.7);
  -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -ms-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}

.category-section{
  padding:50px 30px;
  border-top: 1px solid #171720;
}

.bottom-category .featured-product{
  height:auto;
  min-height:300px;
  padding:50px 20px 0 20px;
}

@media only screen and (max-width: 1199px){
  .bottom-category .featured-product{
    height:620px;
  }
  .bottom-category .featured-product img,
  .bottom-category .featured-product .content-right{
    float:none !important;
    width:auto !important;
  }
}

.bottom-category .featured-product img{
  float:left;
  width:30%;
}

.bottom-category .featured-product .content-right{
  float:right;
  width:65%;
}

.bottom-category .featured-product p{
  min-height:100px;
}

#featured-section h3{
  font-size: 2.5em;
  margin-bottom: 20px;
}

.featured-product p{
  min-height:140px;
  font-size:14px;
  line-height:1.7;
  color: rgba(255,255,255,0.8);
}

.featured-product .btn{
  line-height:16px;
  padding:13px 50px !important;
}

.feature-flag{
  position:absolute;
  right:-4px;
  top:-4px;
  width:130px;
  height:100px;
  filter: alpha(opacity=70);
  opacity:0.7;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feat-regata{
  background: url(../images/featured-flag-regata.png) no-repeat top right;
}

.feat-yacht{
  background: url(../images/featured-flag-yacht.png) no-repeat top right;
}

.feat-avvolgitori{
  background: url(../images/featured-flag-avvolgitori.png) no-repeat top right;
}

.feat-x3m{
  background: url(../images/featured-flag-x3m.png) no-repeat top right;
}

.feat-jiber{
  background: url(../images/featured-flag-jiber.png) no-repeat top right;
}

.feat-accessories{
  background: url(../images/featured-flag-accessori.png) no-repeat top right;
}

.feat-custom{
  background: url(../images/featured-flag-custom.png) no-repeat top right;
}

.feat-sailmakers{
  background: url(../images/featured-flag-sailmakers.png) no-repeat top right;
}

.feat-apparel{
  background: url(../images/featured-flag-apparel.png) no-repeat top right;
}

.feat-brands{
  background: url(../images/featured-flag-brands.png) no-repeat top right;
}

.feat-alphalock{
  background: url(../images/featured-flag-alphalock.png) no-repeat top right;
}

.featured-product:hover > .feature-flag{
  filter: alpha(opacity=100);
  opacity:1;
}

.product-box{
  min-height: 450px;
}

.product-box p{
  min-height: 180px;
}

.product-box .btn{
  padding:8px 20px !important;
}

/* home comments section */
.quotes-container{
  width:100%;
  background: url(../images/quotes-bg.jpg) no-repeat top right;
  background-size:cover;
  height: 600px;
  padding: 20px 0;
  overflow: hidden;
}
.quotes-container .carousel-inner{
  margin-top:50px;
}
.quotes-container h2, .quotes-container blockquote{
  color:#fff;
}
.quotes-container small{
  color:#ccc;
  margin-left:10px;
}
.quotes-container blockquote p{
  padding-left:30px;
  clear:both;
  margin-bottom:20px;
  line-height:22px;
  font-weight:bold;
  font-size:18px;
}
.quotes-container .arrowleft-cont{
  width:50px;
  height:50px;
  position:absolute;
  left:10px;
  top:48%;
}
.quotes-container .arrowright-cont{
  width:50px;
  height:50px;
  position:absolute;
  right:0;
  top:48%;
}
.quotes-carousel-control{
  display:none;
}
@media (min-width: 480px) {
  .quotes-container{    
    height: 500px;
    padding: 80px 0;
  }
  .quotes-container .carousel-inner{
    margin-top:80px;
  }
  .quotes-container blockquote p{
    padding-left:30px;
    line-height:26px;
  }
  .quotes-carousel-control{
    display: inline-block;
    width: 92%;
    position: absolute;
    height: 500px;
    margin: 0 0 0 3%;
    top: -80px;
  }
}
@media (min-width: 480px) and (max-width:768px){
    .quotes-container .carousel-inner{
      margin-top:22px;
      width:90%;
      margin-left:4%;
    }
  }


@media (max-width: 768px) {
  .slick-prev{
    left:35%;
    top:98%;
  }
  .slick-next{
    right:36%;
    top:98%;
  }
  .product-carousel{
    min-height:45vh;
  }
    h1{
      line-height: 20px;
    }
    .logo_fiera img{
      width:100px;
    }
    .wrapper-img-home {
        text-align: center !important;
    }
    .wrapper-img-home div:first-child{
      text-align: center;
    }
    .subtitle h2{
      font-size:18px;
    }
    .img-home {
        text-align: center;
        margin-top:0;
    }
    .first-image {
       margin-top: 25vh;
    }
    .second-image {
        margin-top: 0px;
    }
    .mouse-wrapper{display:none !important;}
    #who-we-are-section h2{
      font-size:24px;
    }
    #who-we-are-section .feature-list{
      font-size:16px;
    }
    #nz-section{
      background-position: 23% bottom;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .cat-image-size{
      width:200px;
    }
    .category-section{
      padding: 50px 10px;
    }
    .featured-product, .bottom-category .featured-product{
      height:auto;
    }
    .bottom-category .featured-product img{
      width:200px !important;
    }
}