body{
    background-color: #202027;
  }
  
  p{
    line-height: 2em;
  }
  
  .closer{
    display: inline-block;
    font-weight: bold;
    opacity: 1;
    color: #fff;
    cursor: pointer;
  }
  
  .closer:hover{
  }
  
  .table-container{
    display: none;
  }
  #table-closer tr{
    display: none;
  }
  #table-closer td{
    padding: 10px 0;
  }
  
  .features-img-right{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding:50px 0;
  }
  
  .x3m-ft{
    background-image: url('../images/x3m/x3m-right.jpg');
  }
  
  .jiber-tx-ft{
    background-image: url('../images/jiber-tx/jiber-tx-right.jpg');
  }
  
  .fr250rw-ft{
    background-image: url('../images/fr250rwm/fr250rw-right.jpg');
  }
  
  .features-img-right img{
    margin:0 auto;
  }
  
  .bordered-right{
    border-right:1px dashed #fff;
  }
  
  .bordered-right{
    border-right:1px dashed #fff;
  }
  
  .table-tech td{
    line-height: 1.8em;
    color: #fff;
    padding:20px 10px;
    font-size: 16px;
    text-align: left;
  }
  
  @media (max-width: 480px){
    .product-page-main-image{
      margin-top:20%;
    }
     .features-img-right{
       background-position: left center;
     }
  }
  
  @media (max-width: 768px){
    .x3m-img-right{
      background-position: left center;
    }
    .bordered-right{
      border-right:0px !important;
    }
    .table-tech td{
      font-size: 15px;
    }
  }
  
  .product{
    min-height:500px;
  }
  
  .apparel-product{
    min-height:570px;
  }
  
  @media only screen and (min-width:1700px){
    .apparel-product{
      min-height:630px;
    }
  }
  
  .catalog-filter-link > a{
      color:#666 !important;
  }
  
  /* QUICK LINKS PRODUCT PAGE*/
  .dropup-cont{
    display:inline-block;
    width:100%;
    position:fixed;
    z-index:1;
    bottom:0;
    left:0;
    background-color:#202027;
    padding:5px 0;
    text-align:left;
  }
  .quick-links-catalog-mobile{
    left:2%;
  }
  .quick-links-catalog-mobile .dropdown-menu{
    left:1px;
  }
  .quick-links-catalog-mobile .dropdown-menu>li>a{
    color:#333;
    font-size:14px;
    padding:0 35px !important;
  }
  .quick-links-catalog{
    display:none;
  }
  
  @media only screen and (min-width:768px){
    .dropup-cont{
      display:none;
    }
    .quick-links-catalog{
      margin:0 auto;
      width: 860px;
      display:inline-block;
      padding-bottom: 7px;
      border-bottom:1px solid #dedede;
    }
    .quick-links-catalog li{
      margin-left: 20px;
      display:inline;
      list-style:none;
      float:left;
      text-align:center;
      text-transform:uppercase;
      font-family:'Av-med';
    }
    .quick-links-catalog a{
      color:#666;
      cursor:pointer;
    }
    .quick-links-catalog a:hover{
      color:#444;
    }
  }
  