.map-link{
    color:#626262;
  }
  .map-link:hover{
    color:#111;
  }
  .resellers-list h2, .resellers-list h5{
    color:#ccc;
  }
  .reseller-unit{
    list-style:none;
    display:flex;
    justify-content:flex-start;
    margin-bottom:15px;
  }
  .reseller-unit img{
    margin-right:20px;
  }
  .reseller-unit p{
    line-height:20px;
  }
  .reseller-unit p span{
    font-size:0.9em;
    color:#ccc;
  }
  .reseller-unit b{
    color:#fff;
  }
  .reseller-unit a:hover{
    color:#D71F1B;
  }
  .country {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom:20px;
  }
  .country:after {
    content: '';
    display: block;
    height: 0.09em;
    min-width: 75%;
  }
  .country:after {
    background: linear-gradient(to left, rgba(240,240,240,0), #4c4c4c);
    margin-left: 4vh;
  }
  .reseller-unit{
    display:flex;
    justify-content:flex-start;
  }
  .fornitore-strallo{
    font-size:12px;
    color:#fff;
  } 