.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.topbar-container{    
    height:70px;
    background-color: #000;
    color: #fff;
}

.topbar-container .user-menu-icon{
    font-size: 30px;
}

.drawer{    
    z-index:100;    
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    width:250px;
    top: 70px;
    left:0;
    background-color: #000;
    color: #fff;
    transition: left .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}

.drawer.hide{  
    left: -250px;
}

.drawer .menu a{
    padding: 0.8rem 0;
}

.upgrade-box{
    position: absolute;
    bottom: 0;
    left: 0;    
}

.admin-content{
    z-index:1;
}

.admin-page-container{
    min-height: calc(100vh - 150px);
    box-sizing: border-box;
}

/* Add new button*/
.add-new-button{
    min-width: 200px;
    width: auto;
    background: #dc3545;
    color: #fff;
}
.add-new-button:hover{
    color: #fff;
}

/* Table switch*/
.table-switch{
    width: 50px;
}

.table-switch > input[type="checkbox"] {
    display: none;   
}

.table-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 50px;  
}

.table-switch > label::before {
    background: #bbb;
    /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); */
    border:1px solid #999;
    border-radius: 10px;
    content: '';
    height: 21px;
    margin-top: -9px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 50px;
}
.table-switch > label::after {
    background: #738192;
    border-radius: 16px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); */
    content: '';
    height: 15px;
    left: 3px;
    margin-top: -6px;
    position: absolute;
    top: 0px;
    transition: all 0.3s ease-in-out;
    width: 15px;
}
.table-switch > input[type="checkbox"]:checked + label::before {
    background: #7bed9f;
    border: 1px solid #2ed573;
    opacity: 0.5;
}
.table-switch > input[type="checkbox"]:checked + label::after {
    background: #2ed573;
    left: 32px;
}

/* Scrollbar Styling */
*::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #fafafa;
}

*::-webkit-scrollbar
{
  width: 4px;
  background-color: #fafafa;
}

*::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #999;
}


/* Table Buttons */
.table .edit-button{
    background:#E9F6FF;
    border-radius: 50%;
    padding: 1rem;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color:#4CA7E9;
    font-size:14px;
    cursor:pointer;
}

.table .delete-button{
    background: #FFE6E4;
    border-radius: 50%;
    padding: 1rem;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color:#F27176;
    font-size:14px;
    cursor:pointer;
}

/* Chip */
.chip{
    display: inline-block;
    padding: .3rem .5rem;    
    margin-bottom: 5px;
    border:1px solid #A7AEBA;
    color: #A7AEBA;
    font-size:12px;
    font-weight: 400;
}

/* Admin RTE */
div[data-toggle="rte"]{
    min-height: 250px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div[data-toggle="rte"] .ql-editor{
    min-height: 250px;
    font-size: 1rem;
}

.ql-toolbar{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none !important;
}
.ql-toolbar::after{
    content: "";
    width: 98%;
    margin: .5rem auto;
    text-align: center;
    border-bottom:1px solid #ccc;
}