.autocomplete-container{
    background-color: #fff;
    position:absolute;  
    left:0;
    width: 100%;
    z-index:9999;
    max-height:200px;
    border:1px solid #ccc;
    overflow:auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .autocomplete-item{
    width: 100%;
    padding: .5rem 1.5rem;  
    clear: both;
    color: #555;
    border-bottom:1px solid #e9ecef;
  }
  
  .autocomplete-item:hover{
    background-color: #f5f5f5;
    text-decoration: none;
    color:inherit;    
  }
  
  .autocomplete-selected .item{
    padding:5px 10px;
    border:1px solid #666;
    color: #666;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
  
  .autocomplete-selected .item .close{
    color: #666;
    font-size: 14px;
    cursor: pointer;
  }