/* @font-face {
	font-family: 'av';
	src: url('src/assets/fonts/__defaults/AvenirNext-Regular.eot');
	src: url('src/assets/fonts/__defaults/fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
	url('src/assets/fonts/__defaults/fonts/AvenirNext-Regular.woff') format('woff'),
		 url('src/assets/fonts/__defaults/fonts/AvenirNext-Regular.ttf')  format('truetype'),
		 url('src/assets/fonts/__defaults/fonts/AvenirNext-Regular.svg#svgFontName') format('svg');
} */

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
	background: #202027;
}

body, h1, h2, h3, p, div {
    font-family: 'Lato', Calibri, Arial, sans-serif;	
    letter-spacing: 1px;
}

.spacer5{width: 100%;height:5px;clear: both;}
.spacer10{width:100%;height:10px;clear:both;}
.spacer20{width:100%;height:20px;clear:both;}
.spacer30{width:100%;height:30px;clear:both;}
.spacer40{width:100%;height:40px;clear:both;}
.spacer50{width:100%;height:50px;clear:both;}
.spacer50{width:100%;height:50px;clear:both;}
.spacer60{width:100%;height:60px;clear:both;}
.spacer70{width:100%;height:70px;clear:both;}
.spacer80{width:100%;height:80px;clear:both;}
.spacer90{width:100%;height:90px;clear:both;}
.spacer100{width:100%;height:100px;clear:both;}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.dropdown-item.active, .dropdown-item:active{
	background: #dc3545;
	color: #fff;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer{
    color:#fff;}

#footer a:hover{
    color:#D71F1B !important;
}

#footer .newsletter-container{
    background: #ddd;
    color: #2c2c2c;
}

#footer .newsletter-container i{
    font-size:28px;
    color: #2c2c2c;
}

#footer .newsletter-container a{
    color: #2c2c2c;
}

.regione-toscana{text-align:center;}
.regione-toscana ul{width:400px;margin:0 auto;}
.regione-toscana li:first-child{margin-left:-20px;}
.regione-toscana li:last-child{padding-top:50px;margin-left:20px;}
.regione-toscana li{display:inline;float:left;}
.regione-toscana li{color:#fff;}

@media only screen and (max-width: 480px){
    .regione-toscana ul{width:99vw;}
    .regione-toscana p{font-size:14px;}
}

/* ----- privacy policy page style ----- */

.privacy-policy-cont h3{
    color:#fff;
    margin-bottom:30px;
}
.privacy-policy-cont{
    padding:150px 100px;
    background:#202027;
    color:#fff;
}