.categories-table th{
    vertical-align: top !important;
    cursor: pointer;    
    font-weight: 300;
}

.categories-table th .fa-sort-down, .categories-table th .svg-inline--fa{
    vertical-align: 0 !important;
}

.categories-table .category-row td{
    vertical-align: middle !important;
}