.full-spectrum .sp-palette {
    max-width: 200px;
}

.sp-replacer, .sp-replacer:hover, .sp-replacer.sp-active{
    padding-top:5px;
    border: 1px solid #ced4da;
}

.sp-dd {
    padding: 6px 0;
}

.sp-preview, .sp-preview-inner{
    border-radius: 50%;
}

.sp-preview{
    width: 25px;
    height: 25px;
}