.products-table th{
    vertical-align: top !important;
    cursor: pointer;    
    font-weight: 300;
}

.products-table th .fa-sort-down, .products-table th .svg-inline--fa{
    vertical-align: 0 !important;
}

.products-table .product-row td{
    vertical-align: middle !important;
}