.table thead tr{
    border-bottom: none;    
    border-top: none;    
    border-color: transparent;
}

.table thead th{
    background-color: #000;
    color: #fff;
}

.table thead.round th:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.table thead.round th:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.table tbody tr{
    border-bottom: 1px solid #ddd;
}

.table.light-theme thead th {
    background-color: #e9ecef;
    color: #000;
}

.table svg{
    font-size: 20px;
}


.table.table-dark tbody tr{
    border-bottom: 5px solid #000;    
}