.transfer-list .items-container{
    min-height: 60vh;    
    width: 40%;
}

.transfer-list .items-container .accordion{
    max-height: 50vh;
    overflow-y: auto;
}

.transfer-list .selected-container{
    min-height: 60vh;    
    width: 40%;
}

.transfer-list .selected-container .accordion{
    max-height: 50vh;
    overflow-y: auto;
}

.transfer-list .search-input{
    border-radius: 0;
    background: #eee;
    border: none;
    outline: none;
}

.transfer-list .accordion .card-header{
    cursor: pointer;
}